---
---

@import "color_schemes/dark";

:root {
  --body-background-color: #09090b;
  --sidebar-color: #09090b;
  --search-background-color: #18181b;
  --table-background-color: #18181b;

  --body-text-color: #fafafa;
  --link-color: #60a5fa;

  --border-color: #27272a;
}

.side-bar {
  border-right: 1px solid #27272a;
}

.site-header {
  border-bottom: 1px solid #27272a;
}

.main-content {
  max-width: 900px;
}

.nav-list-link {
  border-radius: 8px;
}

.nav-list-link:hover {
  background: #18181b;
}

.nav-list-link.active {
  background: #18181b;
}

code,
pre {
  border-radius: 12px;
}

.search-input {
  border-radius: 12px;
}

.btn {
  border-radius: 12px;
}
